

        *{
            margin: 0;
            padding: 0;
            font-family: 'Times New Roman', Times, serif;
            box-sizing: border-box;
            
        }
        body{
            background: linear-gradient(to bottom, #ffc79a79, #333);
        
        }
        .imggallery-header {
         background-image: url(./13.png);  
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
        }

        .imggallery-header h2 {
            font-size: 4rem;
            text-decoration: underline;
        }

        .gallery{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 20px 0px 20px;
            }

        .galleryheading{
            padding-bottom: 20px;
            width: 50%;
        }
        .galleryheading h3{
            text-align: center;
            font-size: 2.5em;
            border-bottom:2px solid rgb(51, 51, 51);  

        }
        .galleryheading h3 span{
            color: orangered;
            font-weight: bolder;
        }

        .gallery .pic-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .gallery .pic-box .pics-col{
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 5px;
        }

        .gallery .pic-box .pics-col2{
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .gallery .pic-box img{
            width: 100%;
            border-radius: 10px;
            padding: 15px;
            height: max-content;
            margin: 5px;
            
        }
 
        .gallery .pic-box img{
            width: 100%;
            border-radius: 10px;
            padding: 2px;
            height: max-content;
            position: relative; /* Add this to create an overlay */
        }

        .gallery .pic-box img:hover {
           opacity: 0.7; 
           transition: opacity 0.3s ease; 
        }

        /*responsive */
        @media only screen and  (max-width: 1000px){
        .gallery .pic-box{
            flex-direction: column;
        }

        .gallery .pic-box .pics-col{
            width: 100%;
        }
        .gallery .pic-box .pics-col2{
            width: 100%;
        }
        }

        @media only screen and  (max-width: 1000px){

            .galleryheading{
            padding-bottom: 20px;
            width: 100%;
        }
        .galleryheading h3{
            font-size: 1em;

        }
            
        }
        
        
        
    
        .heading2{
    
            font-size: 1.4em;
            margin: 100px;
            border: black solid 2px;
            width: max-content;
            margin-left: 30%;
    
            
    
    
        }
        .box101-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 50px 0px;
            flex-wrap: wrap;
            justify-content: space-around;
            
            
            
           
        }
    
        .box101-card {
        
            margin: 10px;
        
            background-color:rgb(235, 223, 201);
            border-radius: 10px;
            padding: 0px 20px 50px 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transition: 0.3s ease-in-out;
            max-width: 300px; /* Limit card width on smaller screens */
            width: 100%;
            min-height: 450px;
            
        }
    
        .box101-img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            
        }
    
        .box101-img img {
            position: relative;
            max-width: 100%;
            top: -40px; 
            height: auto;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: transform 0.3s ease-in-out;

        }
    
        .box101-card:hover img {
            transform: scale(1.1);
        }
    
        h2, p {
            text-align: center;
        }
    
        @media only screen and (max-width: 900px) {
            .box101-card {
                width: 100%;
                margin-bottom: 20%;
            }
    
            .heading2 {
                
                font-size: 14px;
                }
        }

        @media only screen and (max-width: 3000px) {
            .box101-card {
                width: 100%;
                max-width: 40%;
                margin-bottom: 6%;
            }
        }
    
    
    
    
        
