
.carousel-item img {
    max-height: 500px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Remove any extra spacing */
    opacity: 0.9;
  }
  .carousel-caption {
    bottom: 40%;

    }

    .carousel-caption p{ 
      color: rgb(7, 6, 33);
text-shadow: -1px -1px 0 rgb(181, 183, 255), 1px -1px 0 rgb(181, 183, 255), -1px 1px 0 rgb(181, 183, 255), 1px 1px 0 rgb(181, 183, 255);

        font-size: 3rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
  
  .carousel-b{
    width: max-content;
    font-size: 1.4rem;
    height: 50px;
    font-weight: bold;
    padding: 10px;
    color: aliceblue;
    border: rgb(19, 18, 18) 2px solid;
    background-color: rgb(11, 11, 58);
  }
  

  .carousel-b:hover{
    color: rgb(7, 6, 33);
    background-color: rgb(172, 172, 255);
  }

  