body{
    background: #202121 

}

.carousel-item img {
    max-height: 500px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Remove any extra spacing */
    opacity: 0.9;
  }
  .carousel-caption {
    bottom: 40%;
    }

    .carousel-caption p{
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
  
  .carousel-b{
    width: max-content;
    font-size: 1.4rem;
    height: 50px;
    font-weight: bold;
    border: #101027  2px solid;
    background-color: transparent;
  }
  

  .carousel-b:hover{
    background-color: #30306b ;
  }

  .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 22, 22);
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
  }

  .details h3,h5,h6{
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    text-align:justify;
  }

  .details p{
    margin-bottom: 10px;
    text-align: justify;
    color: rgb(151, 135, 135);
  }

  .details a{

    border: rgb(8, 8, 8) 2px solid;
    color: rgb(231, 225, 225);
    text-decoration: none;
    background: #08081e ;
    padding: 0.7rem;
    border-radius: 5px;
  }

  .details a:hover{
    background-color: #040446 ;
    color: rgb(224, 219, 219);
  }
  .details h2{
    color: white;
    font-weight: bold;
    font-size: 2.4rem;
  }

  .d-one{
    padding: 10%;
  }
  .d-one h2{
    text-align: left;
  }
  .d-two{
    width: 100%;
    border-left: 2px solid rgb(94, 87, 87);
    padding-left: 7% ;
  }
  .d-two h3{
    font-size: 1.7rem;
  }

  .muted-text{
    color: rgb(94, 87, 87);
  }

  .about{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    padding: 0px 30px;
    background: #aaaab8 
    }

  

  .about-one{
    float:right;
    width: calc(40% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 30px 22px 10px 30px;
  }

  .bodybuilding{
    
    background-size: cover;
    text-align: start;
  }

  .weightlifting{
    
    background-size: cover;
    background-position: 0px 20px;
  }
  .boxing{
   
    background-size: cover;
    background-position: center;
  }
  .Crossfit{
    
    background-size:cover;
   
  }

  .about-one h3{
    color: white;
    font-weight: bold;
  }
  .about-one p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: start;
    font-family:Georgia, 'Times New Roman', Times, serifs;
  }

  .about-data{
   display: flex;
   color: black;
   flex-direction: column;
   justify-content: center;
   text-align: inherit;
   align-items: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .about-data p{
    text-align: justify;
    color: #101027 ;
  }



  
  .box2-container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      max-width: 1100px;
      margin: 0 auto; /* Center the container horizontally */
      flex-wrap: wrap;
  }

  .box2-card{
      position: relative;
      border:  1px rgb(195, 199, 255) solid;
      justify-content: space-around;
      margin-left: 30px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      background-color: #1010275f;

      
  }
  .box2-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

  .box2-img{
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    

  }
  .box2-card h2{
    margin: 10px 0px 0px 20%;
    color: #101027 ;
    font-weight: bolder;
  }

  .box2-card p{
        font-size: 1.3rem;
  }

  .box2-img img{
      border: 2px rgb(219, 205, 255) solid;
        width: 100%;
        height: 300px;
      margin-top: 15px;
      

  }
  .iconsh {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10% 0;
  }
  .iconsh i{
    padding: 0 10%;
    font-size: 1.2rem;
    cursor: pointer;
    color: #9b9bff;

  }

  .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem;
  }

  .section h4{
    font-size: 2rem;
    color: #342f39;
    
  }
  .section p{
    font-size: 1.5rem;
  }
  .section h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    padding-bottom: 7px;

  }

  .bmicalc{
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 80%;
    margin: 10%;
    padding: 40px 20px;
    background-color: #101027;
  }
  .bmih2{
    background-color: #b6b6de56;
    color: #101027;
    font-weight: bold;
    width: max-content;
    padding: 0px 20px;
    text-align: center;
    margin: 10px 25%;
  }

  .bmipic img{
    height: 300px;
    width: 400px;
    
  }
  
  .calc input::placeholder{
    color: #b2bdf3b8;
  }

  .calc input,label{
    border: rgb(154, 154, 154) 2px solid;
    background-color: transparent;
    color: #b2bdf3b8;
    margin: 10px;
    height: 40px;
    border-radius: 16px;
    padding: 10px;
    font-size: 1.3rem;
    
  }

  .calc label{
    font-weight: bold;
    border: none;
    font-size: 1.3rem;
  }
  .bmip{
    color: #b9b9da;
  }
  .calc button{
    margin: 10px;
    background-color: rgb(189, 156, 220);
    border-radius: 5px;
    height: 40px;
    width: 30%;
    font-weight: bold;
    font-size: 1.2rem;

  }


  .contactus {
    text-align: center; /* Center-align the text within the top-text */
    margin-top: 20px;
    background-color: #080811;
  }
  
  .top-text {
    font-size: 35px;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .top-text:hover{
    border-bottom: 1px #6060eb solid;
   
  }
  
  .contactus-elements {
    display: flex;
    justify-content: space-between; 
      align-items: flex-start; 
    }
  
  .left-side {
    
    padding: 10px;
    flex: 1;   }
  
  .right-side {
    flex: 1;   
     padding: 10px;
  }
  
  .left-side input[type="text"],
  .left-side input[type="email"],
  .left-side input[type="tel"]
  
   {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .left-side [type="textarea"]{
    width: 100%;
    
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .contactus-elements input[type="textarea"] {
    height: 100px;}
  
  .contactus .submit-button button {
    padding: 10px 20px;
    width: 30%;
    background-color: #080811 ;
    background-origin: padding-box;
    border: 2px rgb(19, 161, 171) solid;
    color: #fff;
  
    border-radius: 5px;
    cursor: pointer;
}
.contactus .submit-button button:hover{
    background-color: rgb(5, 97, 105);
}
 
  .right-side iframe {
    width: 100%;
    height: 450px;
    border: 0;
  }
  


  @media (max-width: 768px) {

    .contactus-elements {
        display: flex;
        justify-content: space-between; 
        flex-direction: column; 
        }
    .right-side{
        width: 100%;
    }

        .section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem 4rem;
            margin: 5%;
          }

          .section p{
            text-align: justify;
          }


          .box2-card{
            position: relative;
            margin-bottom: 10px;
            width: 450px;
            
          
        }

        .about{
            display: flex;
            flex-direction: column;
            
            }

        .about-pics{
            display: flex;
            flex-direction: column;

            }

        .about-one{
            
            width: 100%;
        }

        .bmicalc{
          display: flex;
          flex-direction: column;
        }

        

    
  }