
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(to top, black,#4e4e50);
        }

        /* Header Styles */
        .header {
            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            height: 500px;
        }

        .header h1 {
            font-size: 3.5rem;
            padding-bottom: 15px;
            text-decoration: underline;
        }

        .header p {
            padding-top: 20px;
            font-size: 1.5rem;
        }

        /* Feature Styles */
        .feature-tag {
            text-align: center;
            /* margin-top: 100px; */
            background: linear-gradient(gray,white);
            padding: 25px;
        }

        .feature-tag h3 {
            padding-bottom: 10px;
            color: #d5114c;
        }

        .feature-tag h1 {
            font-weight: 600;
            color: #2c2b2b;
        }

        .feature {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 20px 5px;
            margin: 6% auto;
            max-width: 100%;
            width: 90%;
        }

        .box {
            max-width: 300px;
            margin: 10px;
            background-color: black;
            padding-bottom: 10px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            transition: transform 0.3s ease-in-out;
            border: 2px solid white;
            min-height: 580px;
        }

        .box:hover {
            transform: scale(1.05);
            background-color: rgba(0, 0, 0, 0.804);
        }

        .box .image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }

        .box h1, .box p {
            text-align: center;
            padding: 10px;
            /* color: ; */
        }
        .box h1{
            color: #c3073fc7;
        }
        .box p {
            color: whitesmoke;
        }

        /* Price Styles */
        .price-tag {
            text-align: center;
            margin-top: 100px;
            background: linear-gradient(gray,white);
            padding: 25px;
        }

        .price-tag h3 {
            padding-bottom: 10px;
            color: #d5114c;
        }

        .price-tag h1 {
            font-weight: 600;
            color: #2c2b2b;
        }

        .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 20px 5px;
            margin: 6% auto;
            max-width: 100%;
            width: 100%;
        }

        .skewed {
            padding-right: 15px;
            padding-left: 15px;
            text-align: center;
            padding: 40px 30px 52px;
            border: 1px solid #464646;
            min-width: 250px;
            transform: skewY(-4deg);
            transition: transform 0.3s ease-in-out;
            margin-bottom: 30px;
            background-color: black;
            margin-right: 60px;
            border: 3px solid gray;
        }

        .skewed:hover {
            transform: skewY(-4deg) scale(1.1);
            /* Add any hover styles you prefer here */
        }

        .price-box {
            transform: skewY(4deg);
        }

        .price-box h3 {
            font-size: 25px;
            padding-bottom: 15px;
            color: white;
        }

        .price {
            font-size: large;
            color: #ff5500;
        }

        .price-box ul li {
            list-style: none;
            padding: 10px;
            color: white;
        }

        .price-box ul {
            padding-bottom: 30px;
            text-align: left;
            padding-left: 30px;
            padding-top: 10px;
        }

        .price-box ul li span{
            color: orangered;
        }
        .buy-btn {
            display: inline-block;
            font-size: 14px;
            padding: 17px 30px 16px;
            color: black;
            background: gray;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
        }

        .buy-btn:hover {
            background-color: #ff5500;
        }


        


    